body {
  font-family: "Anybody", sans-serif;
}

.fade-in {
  animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

svg {
  max-width: 100%;
}

.banner {
  svg * {
    fill: #010101;
    opacity: .5;
    @media (min-width: 1024px) {
      fill: #fff;
    }
  } 
}

.post-card {
  &__category {
    box-sizing: border-box;
    padding: 4px 12px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: -2px 2px 0px #000000;
    border-radius: 4px;
  }
  svg {
    max-width: 100%;
  }
}